[submodule "site_media/js/jquery"]
	path = site_media/js/jquery
	url = https://github.com/jquery/jquery.git
[submodule "site_media/js/scopeleaks"]
	path = site_media/js/scopeleaks
	url = https://github.com/ruidlopes/scopeleaks.git
[submodule "site_media/js/jslogger"]
	path = site_media/js/jslogger
	url = git@github.com:huseyinyilmaz/javascript-logger.git
[submodule "site_media/js/backbone"]
	path = site_media/js/backbone
	url = https://github.com/documentcloud/backbone.git
