{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
{% endblock head%}

{% block body %}
<lu>
{% for item in page.choices %}
<li class="list"><a href="{{ item.1 }}" class="item">{{ item.0 }}</a></li>
{% endfor %}
</lu>
<br />

<table class="grid" id="grid">
<tr class="ui-widget-header">
  <th>Id</th>
  <th>{{ item_display_label }}</th>
</tr>
{% for item in item_set %}
  <tr class="ui-widget-content grid_row">
    <td>{{ item.id }}</td>
    <td>{{ item }}</td>
    <input type="hidden" class="selectUrl" value="{{ item.selectUrl }}" />
    <input type="hidden" class="deleteUrl" value="{{ item.deleteUrl }}" />
  </tr>
{% endfor %}
</table>
  
</table>
<input type="button" id="grid_button_create" value="Create"/>
<input type="button" id="grid_button_select" value="Select"/>
<input type="button" id="grid_button_delete" value="Delete"/>

<script type="text/javascript">
$(function(){
    //holds a jquery object
    var selectedRow = null;
    //initialize grid rows
    $("tr.grid_row").click(
        function(){
    	    if(selectedRow != null){
    		selectedRow.removeClass("ui-state-highlight");
	    }else{
		$("#grid_button_select").button('option','disabled',false);
		$("#grid_button_delete").button('option','disabled',false);
	    }
    	    selectedRow = $(this);
    	    selectedRow.addClass("ui-state-highlight");
    	}//onclick handler
    ).hover(
    	function(){
    	    if(!selectedRow || selectedRow.get()[0] !== this ){
    		$(this).addClass("ui-state-hover").removeClass("ui-widget-content");
    	    };
    	},function(){
    	    $(this).removeClass("ui-state-hover").addClass("ui-widget-content");
    	});//click
    //initialize buttons
    $("#grid_button_create").button().click(function(){window.location="{{ createUrl }}"});
    $("#grid_button_select").button({disabled:true}).click(function(){
	window.location = selectedRow.children("input.selectUrl").val()
    });
    $("#grid_button_delete").button({disabled:true}).click(function(){
	$("#deleteDialog").html("Are you sure you want to delete static page '" + selectedRow.children("td:eq(1)").html() + "' ?");
	$("#deleteDialog").dialog('open');
    });
    $(".item").button();//list items

    //initialize delete confirmation dialog
    $("#deleteDialog").dialog({
	resizable: false,
	height:200,
	width: 600,
	modal: true,
	autoOpen: false,
	buttons: {
	    'Delete': function() {
		window.location = selectedRow.children("input.deleteUrl").val();
	    },
	    'Cancel': function() {
		$(this).dialog('close');
	    }
	}
    });

});

</script>
<!-- Delete confirmation dialog -->
<div id="deleteDialog" title="Delete Confirmation Dialog"></div>
{% endblock body%}

