{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
<script type="text/javascript" src="/site_media/js/underscore-min.js"></script>
<script type="text/javascript" src="/site_media/js/backbone-min.js"></script>
<script type="text/javascript" src="/site_media/js/logger.js"></script>

<script type="text/javascript">
  var data = {{ page.post_json|safe }};
  var next_url = "{{page.next_url }}";
  var blog_url = "{{ page.blog_url}}";
</script>

{% endblock head%}
{% block body %}

<div id="blogPostMainForm"></div>
<div>
  <input type="button" name="save" value="Save" id="saveButton"/>
  <input type="button" name="cancel" value="Cancel" id="cancelButton"/>
<div>


<script type="text/javascript" src="/site_media/js/admin/blogpost.js"></script>

{% endblock body%}

