{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
<script type="text/javascript" src="/site_media/js/scopeleaks.js"></script>
<!-- <script type="text/javascript" src="/site_media/js/underscore-min.js"></script> -->
<!-- <script type="text/javascript" src="/site_media/js/backbone-min.js"></script> -->
<script type="text/javascript" src="/site_media/js/underscore.js"></script>
<script type="text/javascript" src="/site_media/js/backbone.js"></script>

<script type="text/javascript" src="/site_media/js/logger.js"></script>

<script type="text/javascript" src="/media/js/urlify.js"></script>

<script type="text/javascript">
  window.data = {{ page.post_json|safe }};
  window.next_url = "{{page.next_url }}";
  window.blog_url = "{{ page.blog_url}}";
  window.tag_url = "{{page.tag_url}}";
</script>

<script type="text/template" id="template_side_widget">
<div class="widget_container">
  <div class="widget_header header">
    <%=title%>
  </div>
  <ul class="element-list">
  </ul>
</div>
<div id="messageBox-<%= title.toLowerCase() %>" title="">
  <p id="messageContent-<%= title.toLowerCase() %>"></p>
</div>

</script>

<script type="text/template" id="template_widget_list">
  <% _.each(list,function(item){ %>
  <li class="<%= title %>_list_li" id="li_<%= title  %>_<%= item.id %>">
	<input type="checkbox" class = "widget_item" id="<%= title  %>-<%= item.id %>" <% if(item.selected){ %>checked="checked" <%}%> value="<%= item.id %>"/> <label for="<%= title  %>-<%= item.id %>"><%= item.name  %></label>
	<span class="button_container">
	  <button type="button" id="id_<%= title %>_edit_button:<%= item.id %>" class='<%= title %>_edit_button edit_button icon_button' title="Edit <%= title %>"/>
	  <button type="button" id="id_<%= title %>_delete_button:<%= item.id %>" class='<%= title %>_delete_button delete_button icon_button' title="Delete <%= title %>"/>
	</span>
  </li>
  <% }); %>
  <li class="list new_item_container">
	<a id="<%= title %>_new_item_link" class="create_link" href="#">Add</a>
  </li>
  <script type="text/javascript">
	$("button.<%= title %>_edit_button").button({icons: {primary: 'ui-icon-pencil'},text: false});
	$("button.<%= title %>_delete_button").button({icons: {primary: 'ui-icon-close'},text: false});
	$("li.<%= title %>_list_li").hover(
	  function(event){ $("span.button_container",event.currentTarget).show(); },
	  function(event){ $("span.button_container",event.currentTarget).hide(); }).children("span.button_container").hide();
  </script>
</script>

<script type="text/template" id="template_widget_add">
  <% if(error){ %>
  <div class="ui-state-error ui-corner-all">
	<p style="margin-top: 0px; margin-bottom: 0px;"><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
	<%= error %></p>
  </div> 
  <% } %>
  <input type="text" value="<%= value %>" class="widget_input"/>
  <input type="button" class="create_ok" value="OK"/>
  <br><a href="#" class="create_cancel">Cancel</a>
</script>

  
<script type="text/template" id="template_error_row">
  <tr>
    <td colspan="2">
      <div class="ui-widget error fieldError" id="<%= id %>">
       <div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
	<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
	<strong id="<%= id %>_title"></strong> <span id="<%= id %>_message"></span></p>
      </div>
    </div>
    </td>
  </tr>
</script>

<script type="text/template" id="template_row">
  <tr>
    <th>
      <label for="<%= id %>"><%= label %></label>
    </th>
    <td>
      <%= widget %>
    </td>
  </tr>
</script>

<script type="text/template" id="template_tag">
  <input type="checkbox" name="<%= name %>" <% if(selected) { %>checked="checked"<% }; %> />
  <%= name %>
</script>


{% endblock head%}

{% block body %}

  <!--highlight secion: this is used to give client side error messages -->
  <div class="ui-widget" id="highlightDiv"> 
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
      <strong id="highlightTitle"></strong> <span id="highlightMessage"></span></p> 
    </div> 
  </div> 	

  <div id="blogPostMainForm"></div>
  <div>
    <input type="button" name="save" value="Save" id="okButton"/>
    <input type="button" name="cancel" value="Cancel" id="cancelButton"/>
  </div>


<script type="text/javascript" src="/site_media/js/admin/blogpost.js"></script>

<div id="messageBox" title="">
  <p id="messageContent"></p>
</div>
{% endblock body%}

{% block widget_1 %}
  <div id="tag_widget"></div>
{% endblock %}

{% block widget_2 %}
  <div id="category_widget"></div>
{% endblock %}
