{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
<script type="text/javascript" src="/site_media/js/scopeleaks.js"></script>
<!-- <script type="text/javascript" src="/site_media/js/underscore-min.js"></script> -->
<!-- <script type="text/javascript" src="/site_media/js/backbone-min.js"></script> -->
<script type="text/javascript" src="/site_media/js/underscore.js"></script>
<script type="text/javascript" src="/site_media/js/backbone.js"></script>

<script type="text/javascript" src="/site_media/js/logger.js"></script>

<script type="text/javascript" src="/media/js/urlify.js"></script>

<script type="text/javascript">
  var data = {{ page.post_json|safe }};
  var next_url = "{{page.next_url }}";
  var blog_url = "{{ page.blog_url}}";
</script>

<script type="text/template" id="template_side_widget">
<div class="widget_container">
    <div class="widget_header header">
      <%=title%>
    </div>
    <ul>
    <% _.each(items, function(item){ %>
    <li class="list">
    <%=item%>
    </li>
    <%}); %>
  </ul>
</div>
</script>

<script type="text/template" id="template_error_row">
  <tr>
    <td colspan="2">
      <div class="ui-widget error fieldError" id="<%= id %>">
       <div class="ui-state-error ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
	<p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
	<strong id="<%= id %>_title"></strong> <span id="<%= id %>_message"></span></p>
      </div>
    </div>
    </td>
  </tr>
</script>

<script type="text/template" id="template_row">
  <tr>
    <th>
      <label for="<%= id %>"><%= label %></label>
    </th>
    <td>
      <%= widget %>
    </td>
  </tr>
</script>


{% endblock head%}

{% block body %}

  <!--highlight secion: this is used to give client side error messages -->
  <div class="ui-widget" id="highlightDiv"> 
    <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;"> 
      <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span> 
      <strong id="highlightTitle"></strong> <span id="highlightMessage"></span></p> 
    </div> 
  </div> 	

  <div id="blogPostMainForm"></div>
  <div>
    <input type="button" name="save" value="Save" id="okButton"/>
    <input type="button" name="cancel" value="Cancel" id="cancelButton"/>
  </div>


<script type="text/javascript" src="/site_media/js/admin/blogpost.js"></script>

<div id="messageBox" title="">
  <p id="messageContent"></p>
</div>
{% endblock body%}

{% block widget_1 %}
{% include "blog/widgets/tags.html" %}
{% endblock %}

{% block widget_2 %}
{% include "blog/widgets/date_archive.html" %}
{% endblock %}
