{% extends "layout/one_column.html" %}

{% block extra_head %}
{% endblock extra_head%}

{% block onload %}
$('.button').button();
{% endblock onload %}

{% block content %}
<div class="w960 container">
<lu>
{% for item in page.choices %}
  <li class="list">
	<button class="item" value="{{ item.1 }}">{{ item.0 }}</button>
  </li>
{% endfor %}
</lu>
<br />
<form action="{{ formAction }}" method="post">
{% csrf_token %}
<table>
{{ form.as_table }}
</table>
<input type="submit" value="Submit" class="button"/>
</form>
</div>

<script type="text/javascript">
$(function(){
    $('button.item').button().click(
		function(e){
			window.location = $(this).val();
		});
});
</script>

{% endblock content %}

