{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
<script type="text/javascript">
var delete_message = 'Are you sure you want to delete staticpage';
var createUrl = "{{ createUrl }}";
</script>

{% endblock head%}

{% block body %}
<lu>
{% for item in page.choices %}
  <li class="list"><button class="item" value="{{ item.1 }}">{{ item.0 }}</button></li>
{% endfor %}
</lu>
<br />

<table class="grid" id="grid">
<tr class="ui-widget-header">
  <th>Id</th>
  <th>{{ item_display_label }}</th>
</tr>
{% for item in item_set %}
  <tr class="ui-widget-content grid_row">
    <td>{{ item.id }}</td>
    <td>{{ item }}</td>
    <input type="hidden" class="selectUrl" value="{{ item.editUrl }}" />
    <input type="hidden" class="deleteUrl" value="{{ item.deleteUrl }}" />
  </tr>
{% endfor %}
</table>
  
</table>
<input type="button" id="grid_button_create" value="Create"/>
<input type="button" id="grid_button_select" value="Edit"/>
<input type="button" id="grid_button_delete" value="Delete"/>
<script type="text/javascript" src="/site_media/js/admin/blog_main.js"></script>
<!-- Delete confirmation dialog -->
<div id="deleteDialog" title="Delete Confirmation Dialog"></div>
{% endblock body%}

