{% extends "layout/two_columns.html" %}

{% block extra_head %}
    <script type="text/javascript" src="{{STATIC_URL}}js/blog/blog.js"></script>
{% endblock %}

{% block content %}
<h1>{{ blogpost.title }}</h1>
  <p>{{ blogpost.content_HTML|safe }}</p>
<br />
<span class="blogpost_footer">
Date:  <span class="blogpost_date">{{ blogpost.creation_date|date:"j F Y" }}</span> | 
  <span class="blogpost_tag">
    Tags:
    {% for t in post_tag_list %}
      <a href="{% url blog_tag blog.slug t.name %}">{{ t.name }}</a>, 
    {% endfor %}
  </span> |
  <span class="blogpost_category">
    Categories:
    {% for c in post_category_list %}
      <a href="{% url blog_category blog.slug c.name %}">{{ c.name }}</a>, 
    {% endfor %}
  </span>
</span>  
<hr />
<span class="comment_header">Comments</span>
{% for comment in post_comment_list %}
{% include "blog/comment_body.html" %}
{% endfor %}
{% if not comments_closed %}
{% include 'blog/comment_form.html' %}
{% else %}
New comment entry is closed for this post
{% endif %}
<hr />

{% endblock content %}

{% block sidebar %}
{% include "blog/widgets/categories.html" %}
{% include "blog/widgets/tags.html" %}
{% include "blog/widgets/date_archive.html" %}
{% endblock %}
