{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}
<h2>{{ blogpost.title }}</h2>
  <p>{{ blogpost.content_HTML|safe }}</p>
<br />
<span class="blogpost_footer">
Date:  <span class="blogpost_date">{{ blogpost.creation_date|date:"j F Y" }}</span> | 
  <span class="blogpost_tag">
    Tags:
    {% for t in post_tag_list %}
      <a href="{% url blog_tag blog.slug t.name %}">{{ t.name }}</a>, 
    {% endfor %}
  </span> |
  <span class="blogpost_category">
    Categories:
    {% for c in post_category_list %}
      <a href="{% url blog_category blog.slug c.name %}">{{ c.name }}</a>, 
    {% endfor %}
  </span>
</span>  
  <hr />

{% endblock body %}

{% block widget_1 %}
{% include "blog/widgets/categories.html" %}
{% endblock %}

{% block widget_2 %}
{% include "blog/widgets/tags.html" %}
{% endblock %}

{% block widget_3 %}
{% include "blog/widgets/date_archive.html" %}
{% endblock %}
