{% extends "layout/one_column.html" %}

{% block extra_head %}
<link rel="stylesheet" href="/site_media/css/main.css" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<div class="w960 container pl10">
<lu>
{% for item in page.choices %}
  <li class="p5 nobullet">
	<button class="item" value="{{ item.1 }}">{{ item.0 }}</button>
  </li>
{% endfor %}
</lu>
</div>
<script type="text/javascript">
$(function(){
    $('button.item').button().click(
		function(e){
			window.location = $(this).val();
		});
});
</script>
{% endblock content %}

