body{
    font-family:Helvetica,"Helvetica Neue",Arial,sans-serif;
    font-size:14px;
}

div.header{
    background-color:#5581C0;
    color:#FFFFFF;
}

div.blog_header{
    text-align:center;
    font-size:35px;
    font-weight:bold;
}

div.blog_tagline{
    text-align:center;
    font-size:20px;
    font-weight:normal;
}

div.widget_header{
	text-align:center;
}

div.widget_container {
	border-style:solid;
	border-width:1px;
	margin:10px;
}

li.list{
   	margin:0;
   	padding:0;
   	list-style: none;
    text-indent: 0px;
}

span.blogpost_footer,div.smaller{
	font-size: 80%;
}

div.smaller,div.footer{
	text-align: center;
}

span.blogpost_date,div.footer{
    font-style:italic;
	font-size: 80%;
}

span.blogpost_tag{
    text-align:right;
}

a {
    color: #0066CC;
    text-decoration: none;
}
a:hover {
    color: #4358A5;
    text-decoration: underline;
}
a.header {
    color: #333333;
    text-decoration: none;
    font-weight:bold;
    font-size:28px;
}
a.header:hover {
    color: #0066CC;
}

table.grid{
    background-color: #000000;
}

input.widget_input{
	display: inline;
	float: left;
	position:relative;
	width:90px;

}

button.icon_button{
	height: 15px;
	width: 15px;
}