<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/black-tie/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>

<!-- stylesheets -->
<link type="text/css" href="{{ STATIC_URL }}css/reset.css" rel="stylesheet" />	
<link type="text/css" href="{{ STATIC_URL }}css/base.css" rel="stylesheet" />	
<link type="text/css" href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />	
<link type="text/css" href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />	
<link type="text/css" href="{{ STATIC_URL }}css/pygments_style.css" rel="stylesheet" />	

<script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/json/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/logger.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/urlify.js"></script>






